{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    {% for object in object_list %}
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <center>
                    <img src="{{ object.image|mediapath }}" width="500" height="500" alt="{{ object_list.title }}"/>
                </center>

                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }} <small> RUB</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">

                        <li>{{ object.description|truncatechars:100 }}</li>
                        <h6>Доступные версии продукта:</h6>
                        {% for version in object.version_set.all %}

                            {% if version.is_active %}
                                <li>{{ version.version_name }} ({{ version.version_number }})</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Show me</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}